.new-expenses {
    background-color: #80d332;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-expenses button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #609355;
    background-color: #609355;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-expenses button:hover,
  .new-expenses button:active {
    background-color: #80b375;
    border-color: #80b375;
  }
  
  .new-expenses button.alternative {
    color: #203020;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expenses button.alternative:hover,
  .new-expenses button.alternative:active {
    background-color: #a0f352;
  }